@use '../const/constants' as consts;

$navbar-max-width: 21rem;
$navbar-items-max-height: 8.5rem;

.overlay {
  position: fixed;
  z-index: 1; // Appear in-front of main content

  nav {
    background-color: color-mix(in srgb, var(--theme-foreground), transparent 30%);
    backdrop-filter: blur(1rem);
    width: 4rem;
    margin: 5px;
    border-radius: var(--theme-radii-partial);
    box-shadow: var(--theme-box-shadow-border-2);

    &.show_nav {
      width: $navbar-max-width;

      .nav_menu {
        height: $navbar-items-max-height;
      }
    }

    .top_bar {
      display: flex;
      flex-direction: row;

      .nav_button {
        padding: 10px 20px;
        background-color: transparent;

        svg {
          height: 100%;
        }
      }

      .nav_name {
        flex-grow: 1;
        display: none;
        font-size: 2rem;
        color: transparent;
        padding: 0;
      }
    }

    .nav_menu {
      height: 0;
      transition-duration: 100ms;
      overflow: hidden;
    }
  }

  /* Handle when the title text is minimized */
  &:has(.minimized) nav {
    width: $navbar-max-width;

    .nav_name {
      display: block;
    }
  }
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  min-width: 100dvw;
  min-height: 100lvh;
  font-size: 4rem;
  font-weight: 600;
  transition-duration: 100ms;
  line-height: 0.8;
  top: 0;
  left: 0;
  pointer-events: none;
  user-select: none;

  &.minimized {
    min-width: 0;
    min-height: 0;
    font-size: 2rem;
    font-weight: 400;
    top: 15px;
    left: 70px;

    .text {
      z-index: 1; // When minimized, prevent hiding behind nav element
    }
  }

  &:not(.minimized) {
    text-align: center;

    .text {
      pointer-events: auto;
    }
  }
}

@media screen and (min-width: consts.$tablet) {
  .name {
    font-size: 5rem;
  }
}

@media screen and (min-width: consts.$laptop) {
  .name {
    font-size: 10rem;
  }
}