@use '../const/constants' as consts;

$navbar-max-width: 21rem;
$navbar-items-max-height: 8.5rem;

.overlay {
  position: fixed;
  z-index: 1; // Appear in-front of main content

  nav {
    $width: 200px;

    background-color: color-mix(in srgb, var(--theme-foreground), transparent 30%);
    backdrop-filter: blur(1rem);
    width: 3.4rem;
    margin: 5px;
    border-radius: var(--theme-radii-partial);
    box-shadow: var(--theme-box-shadow-border-2);

    .top_bar {
      display: flex;
      flex-direction: row;

      .nav_button {
        padding: 10px 15px;
        background-color: transparent;
        cursor: default;

        transition: padding-left 100ms;

        svg {
          height: 100%;
        }
      }

      .nav_name {
        flex-grow: 1;
        display: none;
        font-size: 2rem;
        color: transparent;
        padding: 0;
      }
    }

    .nav_menu {
      height: 0;
      transition-duration: 100ms;
      overflow: hidden;
    }

    /* Handle when the nav is shown entirely */
    &.show_nav {
      width: $navbar-max-width;

      .top_bar .nav_button {
        padding-left: 22px;
      }

      .nav_menu {
        height: $navbar-items-max-height;
      }
    }
  }

  /* Handle when the title text is minimized */
  &:has(.minimized) nav {
    width: $navbar-max-width;

    .top_bar .nav_button {
      padding-left: 22px;
    }

    .nav_name {
      display: block;
    }
  }
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 4rem;
  font-weight: 600;
  transition-duration: 100ms;
  line-height: 0.8;
  width: 100dvw;
  translate: 0 -50%;
  top: 50dvh;
  left: 0;
  user-select: none;
  pointer-events: none;
  text-transform: uppercase;

  &.minimized {
    width: 100%;
    min-width: 0;
    min-height: 0;
    font-size: 2rem;
    font-weight: 400;
    translate: 0 0;
    top: 15px;
    left: 20px;
    z-index: 1; // Appear *Atop* the nav element instead of *Behind*
  }

  &:not(.minimized) {
    text-align: center;
    pointer-events: auto;
  }
}

@media screen and (min-width: consts.$tablet) {
  .name {
    font-size: 5rem;
  }
}

@media screen and ((min-width: consts.$laptop) and (min-height: 700px)) {
  .name {
    font-size: 10rem;
  }
}