@use '../../util/animation' as animate;

.change {
  @include animate.from-direction(left, -10%, 1.5s, $scaleFrom: 1.1);
}

.change_alt {
  @include animate.from-direction(right, 10%, 1.5s, $scaleFrom: 0.9);
}

.auto_card {
  animation-fill-mode: forwards;
  opacity: 0; // opacity starts at 0 due to the animation
}

.spaced {
  padding: 25px 0;

  & > ul > li {
    margin-bottom: 50px;
  }
}