@use '../../const/constants' as consts;
@use '../../util/animation' as animation;

.card {
  display: grid;
  grid-template-areas:
      'thumbnail'
      'title'
      'chips'
      'description';

  flex-grow: 1;
  min-height: 20em;
  row-gap: 10px;
  column-gap: 20px;

  &:hover, &:focus-within {
    .title_container .project_title::after {
      width: 100%;
    }
  }

  .title_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-area: title;
    gap: 10px;

    .project_title {
      margin: 0;
      font-size: 3em;
      @include animation.init-underline-strike();
    }

    a {
      background-color: var(--theme-foreground-2);
      height: 2em;
      width: 2em;
      padding: 0;
    }
  }

  .chips {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .chip_title {
      color: var(--theme-text-sub);
      font-size: 0.9em;
      font-weight: 300;
      margin: 0 0 5px;
    }
  }

  .description {
    margin: 0;
    grid-area: description;
  }

  .thumbnail {
    grid-area: thumbnail;
    margin: 10px 0;
    width: 100%;
    height: 20em;
    justify-self: end;
    object-fit: cover;
    background-color: var(--theme-foreground);
    border-radius: calc(var(--theme-radii-partial) * 1.5);
  }

  &.mini_left, &.mini_right {
    min-height: auto;
    max-width: 90em;
    width: 100%;

    .chips {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
    }

    .description {
      max-height: 4.5em;
      overflow: hidden;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 10em;
        height: 1.5em;
        background: linear-gradient(to right, transparent, var(--theme-background-2));
      }
    }

    .thumbnail {
      height: 14em;
      inset: 10px;
    }
  }

  &.mini_right {
    .title_container {
      flex-direction: row-reverse;
    }

    .chips {
      justify-content: flex-end;
    }

    .description {
      text-align: right;
    }
  }
}

@media screen and (min-width: consts.$laptop) {
  .card {
    grid-template-areas:
      'title thumbnail'
      'chips thumbnail'
      'description thumbnail';

    .thumbnail {
      width: 20em;
    }

    &.mini_left {
      grid-template-columns: auto 1fr;
      grid-template-areas:
        'thumbnail title'
        'thumbnail chips'
        'thumbnail description';
    }

    &.mini_right {
      grid-template-columns: 1fr auto;
      grid-template-areas:
        'title thumbnail'
        'chips thumbnail'
        'description thumbnail';
    }

    &.mini_left, &.mini_right {
      min-height: auto;
      grid-template-rows: auto auto 1fr;
    }
  }
}