.container, .image, .enlarge {
  transition-duration: 300ms;
}

.container {
  display: inline;
  overflow: clip;
  position: relative;

  &:hover, &:focus {
    box-shadow:
            var(--theme-accent) 0 0 0 4px,
            var(--theme-accent-2) 0 0 20px,
            var(--theme-accent-2) 0 0 10px inset;

    .image {
      scale: 1.1;
    }

    .enlarge {
      opacity: 1;
    }
  }

  .image {
    height: inherit;
    width: inherit;
    object-fit: inherit;
  }

  .enlarge {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    bottom: 0;
    right: 0;
    height: 20px;
    width: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: var(--theme-radii-full);
    background-color: var(--theme-background-2);
  }
}