@use '../../util/animation' as animation;

.dialog {
  padding: 0;
  border: none;
  cursor: initial;
  background-color: transparent;
  width: 100%;
  height: 100%;
  @include animation.from_direction(from_below, 0 50px, $duration: 500ms);

  &::backdrop {
    backdrop-filter: blur(10px);
  }

  .surface {
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .main_image_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 80%;

      .main_image {
        pointer-events: initial;
        border-radius: calc(var(--theme-radii-partial) * 2);
        height: 100%;
        width: 100%;
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
      }
    }

    .image_selection {
      pointer-events: initial;
      scrollbar-width: thin;
      max-width: 100%;
      padding: 10px;
      background-color: transparent;
      border-radius: 0;
      box-shadow: none;

      .image_selector {
        border-radius: calc(var(--theme-radii-partial) * 1.5);
      }

      .image_tab {
        border-radius: calc(var(--theme-radii-partial) * 1.5);
        overflow: clip;
        padding: 5px;

        img {
          object-fit: cover;
          border-radius: var(--theme-radii-partial);
          height: 100px;
          width: 100px;
        }
      }
    }
  }

  .alt {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    background-color: var(--theme-foreground);
    padding: 10px 15px;
    border-radius: var(--theme-radii-partial);
    box-shadow: var(--theme-box-shadow-border-2);

    span {
      font-weight: bold;
      margin-inline-end: 10px;
    }

    p {
      margin: 0;
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 10px;
  }
}
