@use '../../const/constants' as consts;

$load_start_width: 10%;
$page_size: 12px;

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background-color: var(--theme-foreground);
  box-shadow: var(--theme-box-shadow-border-1);
  border-radius: var(--theme-radii-full);
  padding: 5px;
  width: fit-content;
  margin: 0 auto;

  .previous, .next {
    background: transparent;
    box-shadow: none;
    padding: 5px;
  }

  .previous {
    order: 0;
  }

  .next {
    order: 2;
  }
}

.pages {
  order: 1;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0;
  justify-content: center;

  .page {
    background-color: var(--theme-foreground-3);
    border-radius: var(--theme-radii-partial);
    height: $page_size;
    width: $page_size;
    position: relative;
    transition-duration: 300ms;

    &:hover:after {
      box-shadow: var(--theme-selected-box-border);
    }

    &:after {
      content: '';
      pointer-events: none;
      position: absolute;
      left: 0;
      top: 0;
      height: inherit;
      background-color: inherit;
      border-radius: inherit;
      transition-duration: inherit;
      width: 100%;
    }

    button {
      background: transparent;
      width: 100%;
      height: 100%;
      padding: $page_size;
      margin: calc((-1 * $page_size) / 2);
      position: absolute;
    }

    &[aria-current=true] {
      width: calc($page_size * 10);

      button {
        padding: $page_size calc($page_size * 5.5);
      }

      &:after {
        background-color: var(--theme-accent);
        box-shadow: var(--theme-accent-box-shadow-glow);
      }

      &.play_auto:after {
        animation-name: load;
        animation-duration: inherit;
        animation-play-state: inherit;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        @keyframes load {
          from { width: $load_start_width }
          to { width: 100% }
        }
      }

      &.no_auto:after {
        width: $load_start_width;
      }
    }
  }
}

@media screen and (min-width: consts.$tablet) {
  .container .pages .page[aria-current=true] {
    width: $page_size * 15;

    button {
      padding: $page_size ($page_size * 8);
    }
  }
}