$width: 134px;
$height: 92px;
$border-radius: 20px;

.container {
  position: relative;
  width: 90px;
  height: 90px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.shape {
  width: inherit;
  height: inherit;
  display: inline-flex;
  position: absolute;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}

.hexagon {
  width: $width;
  height: $height;
  background-color: var(--theme-accent);
  filter: drop-shadow(0 0 10px var(--theme-accent-2));
  display: inline-block;
  border-radius: $border-radius;
  position: absolute;
  z-index: -1;
  animation: morph-hexagon 15s infinite linear;

  &:after, &:before {
    content: '';
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: inherit;
    position: absolute;
    z-index: -1;
    animation: morph-hex2 15s infinite linear;
  }
  &:after {
    rotate: 60deg;
  }
  &:before {
    rotate: -60deg;
  }

  @keyframes morph-hexagon {
    0% {
      rotate: 0;
    }
    33% {
      height: $height;
    }
    34% {
      rotate: 960deg;
      height: $width;
    }
    64% {
      border-radius: $border-radius;
    }
    66% {
      border-radius: $border-radius * 2;
      rotate: 1920deg;
    }
    67% {
      border-radius: $border-radius;
    }
    99% {
      height: $width;
    }
    100% {
      height: $height;
      rotate: 2400deg;
    }
  }

  @keyframes morph-hex2 {
    32% {
      scale: 1
    }
    33% {
      scale: 0.5
    }
    65% {
      scale: 0.5
    }
    66% {
      scale: 1
    }
  }
}
