@use '../../../const/constants' as consts;

.contact {
  min-height: 50lvh;
  padding: 50px 10px;

  .content {
    max-width: 1400px;
    margin: 0 auto;

    .top {
      display: flex;
      flex-flow: column;
      gap: 10px;

      .title {
        font-size: 5em;
        font-weight: 600;
        margin: 0;
        position: relative;
        display: inline-block;

        &::after {
          content: '';
          position: absolute;
          height: 4px;
          left: 0;
          bottom: 15px;
          width: 100%;
          background-color: var(--theme-accent);
          pointer-events: none;
        }
      }
    }

    .about {
      margin: 50px auto 20px;

      p {
        margin: 0;
        font-size: 1.3em;
      }
    }
  }
}

.shape {
  width: 170px;

  // Omitted for now...
  //.face {
  //  height: 50px;
  //  width: 50px;
  //  position: absolute;
  //  transition-duration: 300ms;
  //  translate: 5px 0;
  //}

  .hand {
    pointer-events: none;
    font-size: 50px;
    animation: wave 3s infinite ease-in-out;

    @keyframes wave {
      0% {
        translate: -1px 0;
        rotate: -40deg;
      }
      50% {
        translate: 1px 0;
        rotate: 20deg;
      }
      100% {
        translate: -1px 0;
        rotate: -40deg;
      }
    }
  }
}

.show_contact_button {
  width: 100%;
  max-width: 30em;
  margin: 50px auto 0;
}

@media screen and (min-width: consts.$tablet) {
  .contact .content .top {
    flex-flow: row;
    gap: 30px;
  }
}