@use '../../../const/constants' as consts;
@use '../../../util/animation' as animation;

.intro {
  min-height: 100lvh;
  width: 100%;
}

.sub {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  gap: 10px;
  top: 70%;
  width: 100%;
  animation: show-sub 500ms;

  &.hide {
    display: none;
  }

  a .optional_text {
    display: none;
  }

  .scroll_down {
    background: none;
    box-shadow: none;
    border-radius: var(--theme-radii-partial);
    width: 45px;
    height: 45px;
    overflow: hidden;
    position: relative;

    &:hover, &:focus {
      .svg_wrapper {
        &::after, &::before {
          background-color: var(--theme-accent);
        }

        svg {
          color: var(--theme-accent);
          background-color: var(--theme-text);
        }
      }
    }

    // Sass compiler warns if this is merged into the `.svg_wrapper` block below, so it placed separately here.
    //! Deprecation Warning: Sass's behavior for declarations that appear after nested
    //! rules will be changing to match the behavior specified by CSS in an upcoming
    //! version. To keep the existing behavior, move the declaration above the nested
    //! rule. To opt into the new behavior, wrap the declaration in `& {}`.
    .svg_wrapper {
      @include animation.from_direction(scroll-down, 0 -75%, 0 75%, $opacityFrom: 1);
    }

    .svg_wrapper {
      position: relative;
      z-index: -1;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(.35,.85,.65,.15);

      &::before, &::after {
        content: '';
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 100%;
        left: 0;
      }

      &::before {
        bottom: 75%;
      }

      &::after {
        top: 75%;
      }

      svg {
        background-color: transparent;
        position: inherit;
        z-index: -2;
        min-width: 60px;
        min-height: 60px;
      }
    }
  }
}

.background_words {
  position: fixed;
  width: 100dvw;
  height: 100lvh;
  z-index: -1;
  pointer-events: none;
  user-select: none;

  .rail {
    opacity: 5%;
    max-height: 16.6lvh;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    .words {
      white-space: nowrap;
      vertical-align: text-top;
      text-transform: uppercase;
      font-weight: bold;
      pointer-events: none;
      font-size: 22lvh;

      .accent {
        color: color-mix(in srgb, var(--theme-accent), #fff 40%);
      }

      /* Text node is slight offset, correct it */
      position: relative;
      top: -8.5lvh;
      @include animation.marquee(marquee, 20s);
    }
  }
}

@keyframes show-sub {
  from {
    opacity: 0;
    translate: 0 50%;
  }
  to {
    opacity: 1;
    translate: 0;
  }
}

@media screen and (min-width: consts.$tablet) {
  .sub a {
    min-width: 200px;

    .optional_text {
      display: inline;
    }
  }
}